.chat-wrapper{

}


.send-input{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 80%;
    height: 32px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    margin-right: 10px;
}

.send-wrapper{
    position: fixed;
    bottom: 74px;
    left: 336px;
    width:600px;
}

.chatList{
    width: 600px;
    margin: 0 auto;
    height:calc(100vh - 100px);
    overflow: auto;
}

.left{
    text-align: left;
    background-color: #ccc;
    width: 600px;
}

.left li{
    border: 20px;
    padding: 8px 0;
}

.left .master{
    
}

.right{
    text-align: right;
    background-color: #2182F7;
    width: 600px;
    color: #fff;
}

.right .guest span{
    color: #fff;
}

.right li{
    border: 20px;
    padding: 8px 0;
}