*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{height:100%;}

.bg{
    background: #f0f0f0 url('http://jwc.yangtzeu.edu.cn/Template/images/background.jpg');
}

.header{
    width:100%;
    height: 64px;
}

main{
    width: 100%;
    height:calc(100vh - 128px);
    overflow: auto;
    padding: 0 50px;
}

footer{
    position: fixed;
    bottom: 0px;
    width:100%;
    height:64px;
    background-color: #ccc;
}

.footerStyle{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerStyle span{
    margin: 0 10px;
}

.nav{
    margin: 0;
    padding: 0;
}

.nav li{
    float: left;
    padding: 0 50px;
}

.active{
    text-decoration: underline;
}

.nav,li{
    list-style: none;
}


.login{
    margin-right: 20px;
}


.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
.ant-carousel .slick-slide h3 {
    color: #fff;
  }

.ant-list-item{
      cursor: pointer;
  }


.list{
    display: flex;
    flex-direction: column;
}

.list li{
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid #e8e8e8;
    line-height: 1.5;
    flex:1;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
}

.list li:active{
    background-color: #ccc;
}

.userNav{
    position:'absolute';
    left:40px;
    top:20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border: 1px solid hsla(217,5%,71%,.45);
    border-radius:4px;
    flex-direction:column;
    z-index:9999;
}

.userNav li{
    padding:0;
    width:80px;
    line-height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.ant-layout-sider-children ul{
   
}

.ant-layout-sider-children ul li {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
}

.ant-layout-sider-children ul li a{
    display: block;
    padding: 10px;
    color: #fff;
}

.ant-layout-sider-children ul li:nth-child(2n){
    background-color: #fff;
}

.ant-layout-sider-children ul li:nth-child(2n) a{
    color:#000;
}

.ant-layout-sider-children ul li:nth-child(2n+1){
    background-color: #ccc;
}

.ant-layout-content{
    margin-left: 20px;
    font-size: 14px;
} 

.ant-layout-content h2{
    text-align: center;
    margin: 20px 0;
}

.ant-layout-content p{
    text-indent: 2em;
    line-height: 2;
} 

.ant-layout-content input,
.ant-layout-content textarea{
    margin-left: 90px;
}

.ant-layout-content .ant-btn{
    margin-left: 90px;
    margin-top: 20px;
}

.ant-layout-content .ant-btn ~ .ant-btn{
    margin-left: 20px;
}

/* .ant-layout-content div{
    text-align: center;
    margin-left: 200px;
}

.ant-layout-content div h3{
    margin-top: 18px;
} */

.ant-layout-content.special{
    padding-left: 70px;
}

.ant-layout-content.special h3{
    text-align: center;
    margin: 14px 0;
}


.ant-layout-content.special .working h3{
    text-align: justify;
}
